@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?87jr45');
	src:url('../fonts/icomoon.eot?#iefix87jr45') format('embedded-opentype'),
		url('../fonts/icomoon.woff?87jr45') format('woff'),
		url('../fonts/icomoon.ttf?87jr45') format('truetype'),
		url('../fonts/icomoon.svg?87jr45#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-vine:before {
	content: "\f1ca";
}
