- title = 'Artists Theme'
- description = 'Thinker // Designer // YouTuber'
- email = 'devtipsfordesigners@gmail.com'

//NOTE: The Logo and Background image are defined in the all.sass document.
- var menu = [{name : 'About Me', url : '#about-me'}, {name : 'Work', url : '#work'}, {name : 'Clients', url : '#clients'},         {name : 'Contact', url : '#contact'}]

- skills = [{name: 'Communication', value: '9'}, {name: 'Organization', value: '7'}, {name: 'Learning', value: '10'},                        {name: 'Teaching', value: '6'}, {name: 'Planning', value: '7'}, {name: 'Visual Design', value: '5'}, {name: 'UX Design', value: '8'},         {name: 'Programming', value: '6'}]

//skills:
//- {name: Communication, value: '9'}
//- {name: Organization, value: '7'}
//- {name: Learning, value: '10'}
//- {name: Teaching, value: '6'}
//- {name: Planning, value: '7'}
//- {name: Visual Design, value: '5'}
//- {name: UX Design, value: '8'}
//- {name: Programming, value: '6'}