- title = 'Artists Theme'
- description = 'Thinker // Designer // YouTuber'
- email = 'devtipsfordesigners@gmail.com'

//NOTE: The Logo and Background image are defined in the all.sass document.
- var menu = [{name : 'About Me', url : '#about-me'}, {name : 'Work', url : '#work'}, {name : 'Clients', url : '#clients'}, {name : 'Contact', url : '#contact'}]