// Base Variables
//---------------


$accent: #c99065
$accent-light: #e1c184
$bgcolor: #e5eaee

$documentBackgroundColor: #fff
$headlineColor: #333
$textColor: #666
$linkColor: $accent
$selectionColor: rgb(255,255,158)
