<section>

  <h3>About Myself</h3>
  
  <div class="face-lockup">
    
    <div class="face-img"></div>
    
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
    
  </div>
  
  
  <div class="blurb">
    <p><strong>Vivamus hendrerit arcu sed erat</strong> molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia.
    </p>
  </div>
  
  
  
  <div class="skill-lockup">
  
    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">UX Design</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Programming</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    
    
  </div>

</section>