<section>

  <h3 id="about-me">About Myself</h3>
  
  <div class="face-lockup">
    
    <div class="face-img" style="background-image: url(/assets/img/{{site.avatar}});"></div>
    
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
    
  </div>
  
  
  <div class="blurb">
    {{ site.blurb }}
  </div>
  
  
  
  <div class="skill-lockup">
  
    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">UX Design</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Programming</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    
    
  </div>

</section>
