<section class="section-clients">

  <h3 id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>
  
  <div class="clients-belt">
    
    <div class="client-unit">
      
      <figure class="client-face">
        <img src="assets/img/clients/face-aaroni.jpg" alt="client-face">
        <figcaption>
          <strong class="client-name">Scott Summers</strong>
          <em class="client-title">Director of Design, Quebec Int.</em>
        </figre>
      </figure>
      
      <div class="client-content">
        <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
        <p><strong>In pellentesque faucibus vestibulum.</strong> Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo</p>
      </div>
      
    </div>
    
  </div>
  
  <div class="clients-logos">
  
    <div class="client-logo active-client"></div>
    
    <div class="client-logo"></div>
    
    <div class="client-logo"></div>
    
    <div class="client-logo"></div>
  
  </div>
  

</section>