<section>

  <h3>Let's work together</h3>
  
<form method="POST" action="//forms.brace.io/{{ site.data.settings.email }}">
  
  <fieldset>

    <label><span>Your Name</span>
    <input type="text" name="name"></label>
    
    <label><span>Your Email</span>
    <input type="email" name="_replyto"></label>

  </fieldset>

  <label><span>Tell me about your project</span>
  <textarea name="message"></textarea></label>

  <fieldset>
    <input type="submit" value="Send">
  </fieldset>

</form>
  
</section>
