<section class="alt-section section-work">
  
  <h3 id="work">Work</h3>
  {% for project in site.data.settings.projects %}
    <input type="radio" name="trigger" class="trigger" id="{{ project.name }}" />
  {% endfor %}

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project in site.data.settings.projects %}
      <label for="{{ project.name }}">  
        <div class="thumb-unit" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.jpg);"> 
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
          </div>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>
    
    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      </label>
      <h4>Typo International Design Talks</h4>
      <div style="max-width: 600px; height: 500px; background: #ccc;"></div>
      <p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a.</p>
      <div style="max-width: 600px; height: 500px; background: #ccc;"></div>
      <p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a.</p>
      <div style="max-width: 600px; height: 500px; background: #ccc;"></div>
      <p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a.</p>
    </div>
    </div>
    
  </div>
</section>