header
  @extend %background-image
  background:
    position: 30px 20px, 50% 50%
    image: url(../img/#{$logo-path}), url(../img/#{$hero-path})
  padding-bottom: 50px

  nav
    float: right
    padding: 30px 30px 0 0

    a
      display: inline-block
      margin-left: 20px
      color: rgba(255, 255, 255, 0.7)
      @extend %small-bold

      &:hover
        color: rgba(160,160,160,0.7)

  h1
    text-align: center
    font:
      size: 72px
      weight: 700
    color: rgba(255, 255, 255, 0.7)
    text-transform: uppercase
    letter-spacing: 0.05em
    margin-bottom: 20px
    clear: both
    padding-top: 100px


    span
      display: inline-block
      padding: 0.2em 0.5em
      border: rgba(255, 255, 255, 0.7) solid 10px

  .kicker
    @extend %small-bold
    text-align: center
    letter-spacing: 0.05em
    color: rgba(255, 255, 255, 0.7)
    line-height: 1

@media (max-width: 640px)
  header
    background:
      position: 50% 20px, 50% 50%

    nav
      float: none
      text-align: center
      padding-top: 90px

    h1
      padding-top: 0px
