header
  height: 450px
  background: url(../img/hero-bg-alt.jpg) center center
  background-size: cover
  
  
  .logo
    +size(50px)
    float: left
    margin: 10px 0 0 30px
    
    path
      fill: rgba(0,0,0,0.4)
    
  nav
    float: right
    margin: 30px 30px 0 0
    
    a
      display: inline-block
      margin-left: 20px
      
      color: rgba(0,0,0,0.7)
      @extend %small-bold
      
      &:hover
        color: rgba(0,0,0,1)
    
  h1
    text-align: center
    font:
      size: 72px
      weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05em
    margin-bottom: 20px
    clear: both
    padding-top: 100px
    
    
    span
      display: inline-block
      padding: 0.2em 0.5em
      border: white solid 10px
  
  .kicker
    @extend %small-bold
    text-align: center
    letter-spacing: 0.05em
    color: white
    line-height: 1