.alt-section
  background: $bgcolor
  
  h3
    color: darken($accent, 0%)

.thumb-container
  max-width: 960px
  margin: 0px auto
  padding-bottom: 100px
  +clearfix
  
  .thumb-unit
    display: block
    width: 25%
    float: left
    position: relative
    padding-top: 16%
    overflow: hidden
    cursor: pointer
    +perspective(300)
    background:
      position: center center
      repeat: no-repeat
      size: cover
      
    @media screen and (max-width: 760px)
      width: 50%
      padding-top: 26%
    
    .thumb-overlay
      +position(absolute, -50% 0px null 0px)
      height: 100%
      background: fade-out($accent, 0.1)
      text-align: center
      +transition
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      opacity: 0
      +transform(rotateX(90deg))
      +transform-origin(center bottom)
      
      strong
        display: block
        padding: 0px 20px
        color: white
        font-weight: 300
        text-transform: uppercase
        font-size: 24px
        line-height: 1.2
        
      .icon-zoom
        +size(40px)
        margin: 0px auto
        
        path
          fill: white
      
    &:hover .thumb-overlay
      +position(absolute, 0% 0px null 0px)
      opacity: 1
      +transform(rotateX(0deg))
    

  
    
    
    
    
    
    
    
    
    